.DS_Store
.Rproj.user
.Rhistory
.RData
..Rcheck
00check.log
00install.out
Sweave.sty
inst/doc/randomForestRegression*
inst/doc/randomForestSruvival*
vignettes/*.log
vignettes/*.gz
vignettes/*.bbl
vignettes/*.tex
vignettes/figure/*.pdf
vignettes/fig-rfr/*.pdf
vignettes/fig-rfr/*.png
/packrat/lib*/
jss.cls
jss.bst
jsslogo.jpg
*.bbl

inst/doc
*.Rd
..Rcheck/ggRandomForests/INDEX
..Rcheck/ggRandomForests/Meta/hsearch.rds
..Rcheck/ggRandomForests/Meta/package.rds
..Rcheck/ggRandomForests/Meta/Rd.rds
..Rcheck/Rdlatex.log
..Rcheck/tests/test-all.Rout
..Rcheck/tests/testthat/Rplots.pdf
..Rcheck/ggRandomForests/Meta/Rd.rds
..Rcheck/Rdlatex.log
..Rcheck/tests/test-all.Rout
..Rcheck/tests/testthat/Rplots.pdf
..Rcheck/ggRandomForests-manual.pdf
..Rcheck/ggRandomForests/DESCRIPTION
..Rcheck/ggRandomForests/help/ggRandomForests.rdb
..Rcheck/ggRandomForests/help/ggRandomForests.rdx
..Rcheck/00check.log
..Rcheck/00install.out
vignettes/ggRandomForests-regression_cache/*
vignettes/ggRandomForests-survival_cache/*
vignettes/rmd-rf/*
vignettes/rmd-rfsrc/*

/doc/
/Meta/
